/* colors */
$primary: royalblue;

$button-primary: royalblue;
$button-primary-font: white;
$button-secondary: gray;
$button-secondary-font: white;
$button-danger: #B21E29;
$button-danger-font: white;
$button-warning: #DECF11;
$button-warning-font: white;
$button-info: #089AE0;
$button-info-font: white;

$alert-primary: rgba(30, 30, 230, 0.3);
$alert-primary-font: blue;
$alert-danger: rgba(203, 40, 30, 0.5);
$alert-danger-font: #CB1230;
$alert-warning: rgba(222, 199, 0, 0.5);
$alert-warning-font: #CBB700;
$alert-info: rgba(54, 174, 180, 0.7);
$alert-info-font: #01878D;

/* navbar */
$navbar-height: 72px;
$navbar-color: #222;
$navbar-heading-color: #ddd;
$navbar-item-font-color: #ddd;
$navbar-item-background-color: transparent;
$navbar-item-hovered-font-color: black;
$navbar-item-hovered-background-color: #ccc;
$navbar-item-active-font-color: black;
$navbar-item-active-background-color: #aaa;
$navbar-fixed: true !default;

/* sidebar */
$sidebar-background-color: $navbar-color;
$sidebar-item-font-color: $navbar-item-font-color;

/* footer */
$footer-background-color: $navbar-color;
$footer-font-color: #ddd;
$footer-list-item-background-color: transparent;
$footer-list-item-hovered-background-color: rgba(255,255,255,0.3);
$footer-list-item-active-background-color: rgba(200,200,200,0.3);

/* sizes */
$cellphone: 426px;
$tablet: 769px;
$_4k: 2500px;

/* mixins */
@mixin keyframes ($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content
	}
	@-moz-keyframes #{$animation-name} {
		@content
	}
	@-ms-keyframes #{$animation-name} {
		@content
	}
	@-o-keyframes #{$animation-name} {
		@content
	}
	@keyframes #{$animation-name} {
		@content
	}
}

@mixin photo-grid ($column-count) {
	line-height: 0;
    -webkit-column-count: $column-count;
    -webkit-column-gap: 0px;
    column-count: $column-count;
    column-gap: 0px;
}

@mixin transform ($trf) {
	-webkit-transform: $trf;
	-moz-transform: $trf;
	-ms-transform: $trf;
	-o-transform: $trf;
	transform: $trf;
}

@mixin background-size ($size) {
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin cellphone {
	@media only screen and (max-width: $cellphone) {
		@content
	}
}

@mixin tablet {
	@media only screen and (min-width: $cellphone) {
		@content
	}
}

@mixin laptop {
	@media only screen and (min-width: $tablet) {
		@content
	}
}

@mixin _4k {
	@media only screen and (min-width: $_4k) {
		@content
	}
}